<div class="cyberpunk-container">
    <div class="glitch-title" data-text="ACERCA DE MÍ">ACERCA DE MÍ</div>
    <p class="cyberpunk-text">
      ¡Hola! Soy <span class="neon">Diego</span>, un apasionado a tecnologia y al mundo Frikie como a los videojuegos, mangas comics etc soy una persona que practica Skateboarding.
      Me gusta el diseño digital al igual que la electricidad disfruto aprender acerca de eso.
    </p>
  
    <div class="cyberpunk-card">
      <h2>🔹 Hobbies 🔹</h2>
      <ul>
        <li>Practicar <span class="neon">Skateboarding</span>, </li>
        <li>Salir con mis amigos una o dos veces al mes para ir al cine</li>
        <li>Diseño digital o <span class="neon">pixel art</span> editar tambien como imagenes o videos</li>
        <li>Y me agrada leer comics, manga en momentos filosofia ver documentales de aninales etc</li>
      </ul>
    </div>
  