<div style="margin: 20px;">
    <h1>Catálogo de Libros</h1>

    <h4>Alta de Libros</h4>

    <div class="col-sm-4">
        <p>
            <label>Título:</label>
            <input type="text" class="form-control" [(ngModel)]="libro.titulo" />
        </p>

        <p>
            <label>Autor:</label>
            <input type="text" class="form-control" [(ngModel)]="libro.autor" />
        </p>

        <p>
            <label>Editorial:</label>
            <input type="text" class="form-control" [(ngModel)]="libro.editorial" />
        </p>

        <p>
            <label>Año de publicación:</label>
            <input type="text" class="form-control" [(ngModel)]="libro.anioPublicacion" />
        </p>

        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" (click)="this.insertarLibro()">Insertar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="this.updateLibro()">Modificar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="this.deleteLibro()">Eliminar</button>
                </td>
            </tr>
        </table>
    </div>

    <hr>

    <!-- Tabla ocupando todo el ancho de la pantalla -->
    <div class="table-responsive">
        <table class="table table-bordered w-100">
            <thead class="table-dark">
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Editorial</th>
                    <th>Año de publicación</th>
                    <th>Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                @for (libro of libros; track libro.id) {
                    <tr>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.autor }}</td>
                        <td>{{ libro.editorial }}</td>
                        <td>{{ libro.anioPublicacion }}</td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="this.selectLibro(libro)">
                                Seleccionar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
